<header>
  <section (click)="navigateToHome()">
    <img class="logo" src="https://i.ibb.co/p46fgdf/logoImg.png" alt="logo" />
    <img
      class="logo-name"
      src="https://i.ibb.co/zmtbvbs/name2-1.png"
      alt="TotalLook"
    />
  </section>
  <section class="login-section">
    <button mat-button *ngIf="userEmail | async as user; else elseBlock">
      Welcome {{ user.email }}
    </button>
    <ng-template #elseBlock
      ><button mat-button (click)="openDialog()">Login</button></ng-template
    >
    <mat-icon aria-hidden="false" aria-label="shopping-cart"
      >shopping_cart</mat-icon
    >
  </section>
</header>
