@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
div{
	margin-left: 3rem;
	margin-right: 3rem;
	position: relative;
	align-items: flex-start;
	margin-top: 1rem;
	section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0%;
		width: 100%;
		margin-bottom: 2rem;
		div{
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			input{
				border-color: #CB6CE6;
				border-radius: 10px;
			}
		}
		a{
			color: #323232;
			font-family: "Lato", sans-serif;
			text-decoration: #CB6CE6;
			
		}
		a:hover{
			color:#CB6CE6;
		  }
    }

	app-card{
		margin-top: 0;
		width: 100%;
	}
	.mat-grid-tile-content {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		height: fit-content;
		padding: 0;
	}
	app-crud-buttons{
		width: 100%;
	}
}